Repository ErikPlachta/nextjs-mdx, changes with the labels that .github/labeler.yml gives for each.
All labels: 📌 area: .github, 📌 area: src, 📌 area: utils, 📚 documentation, ⚙️ config

.github/labeler.yml:

# labels used by Labeler workflow.
# https://github.com/actions/labeler
"📌 area: .github":
  - any: [".github/**/*"]

"📌 area: src":
  - any: ["src/**/*"]

"📌 area: utils":
  - any: ["src/utils/**/*"]

"📚 documentation":
  - any: ["www/**/*"]
  - any: ["**/*.md"]

"⚙️ config":
  - any: ["package.json", "prettier.config.js", "tsconfig.json", "tsconfig.build.json", "next.config", ".eslintrc.json","tailwind.config.ts", "contentlayer.config.ts"]

Create dependabot.yml
  .github/dependabot.yml
Labels: 📌 area: .github

add custom templates
  .github/ISSUE_TEMPLATE/01-issue-conventional-commit.yml
  .github/ISSUE_TEMPLATE/BUG.txt
  .github/ISSUE_TEMPLATE/config.yml
Labels: 📌 area: .github

Update dependabot.yml
  .github/dependabot.yml
Labels: 📌 area: .github

fix depndanbot
  .github/dependabot.yml
Labels: 📌 area: .github

add frontmatter extraction for next-mdx
  content/main/homepage.mdx
  next.config.mjs
  src/app/page.tsx
Labels: 📌 area: src

Cleanup.
  content/main/homepage.mdx
  src/app/blog/page.tsx
Labels: 📌 area: src

Cleaned up Page/single.
  content/main/homepage.mdx
  src/components/mdx/page/single/index.tsx
Labels: 📌 area: src

add pr title prefix action
  .github/actions/dependatbot-pr-title-prefix.yml
Labels: 📌 area: .github

chore: typo in target branch
  .github/actions/dependatbot-pr-title-prefix.yml
Labels: 📌 area: .github

chore: delete .github/actions/dependatbot-pr-title-prefix.yml
  .github/actions/dependatbot-pr-title-prefix.yml
Labels: 📌 area: .github

feat: Create dependabot-pr-title-prefix.yml
  .github/workflows/dependabot-pr-title-prefix.yml
Labels: 📌 area: .github

Update dependabot.yml
  .github/dependabot.yml
Labels: 📌 area: .github

update minor dev packages.
  package-lock.json
  package.json
Labels: none

update minor dev packages.
  package-lock.json
  package.json
Labels: none

feat(action): Add GitHub Action Manage-Pr-Dependabot
  .github/actions/manage-pullrequest-issue/action.yml
  .github/actions/manage-pullrequest-issue/handlers/handleIssue.ts
  .github/actions/manage-pullrequest-issue/handlers/handlePullRequest.ts
  .github/actions/manage-pullrequest-issue/helpers/labels.ts
  .github/actions/manage-pullrequest-issue/helpers/title.ts
  .github/actions/manage-pullrequest-issue/helpers/validation.ts
  .github/actions/manage-pullrequest-issue/index.ts
  .github/actions/manage-pullrequest-issue/package.json
  .github/actions/manage-pullrequest-issue/tsconfig.json
  .github/dependabot.yml
  .github/workflows/manage-pr-dependabot.yml
  .github/workflows/manage-pr-issue.yml
  .github/workflows/mange-pr-issue-test.yml
  .github/workflows/pull-request-labeler.yml
Labels: 📌 area: .github

Add if != dependabot logic.
  .github/workflows/manage-pr-issue.yml
Labels: 📌 area: .github

chore: Update packages.
  package-lock.json
  package.json
Labels: none

Add additional posts and onboarded the sortAndFilter logic.
  content/a-second-post.mdx
  content/blog/first-post.mdx
  content/blog/fourth-post.mdx
  content/blog/second-post.mdx
  content/blog/third-post.mdx
  src/app/blog/layout.tsx
  src/app/blog/page.tsx
  src/app/research/header1/page.tsx
  src/components/mdx/page/feed/index.tsx
  src/libs/ObjectUtils/index.ts
  src/libs/mdx/index.ts
Labels: 📌 area: src

removed so console.logs
  src/app/blog/page.tsx
  src/libs/ObjectUtils/index.ts
Labels: 📌 area: src

Add note for actor and removed Test as label.
  .github/workflows/manage-pr-issue.yml
Labels: 📌 area: .github

Upgraded to NextJS 15.0.2 and Latest Dependcies. Updated Motion Element properties.
  package-lock.json
  package.json
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/app/research/header1/page.tsx
  src/app/research/header2/page.tsx
  src/components/callout/index.tsx
  src/components/footer/index.tsx
  src/components/footer/types.ts
  src/components/header/index.tsx
  src/components/header/types.ts
  src/components/hero/index.tsx
  src/components/mdx/card/summary.tsx
  src/components/mdx/page/feed/index.tsx
  src/components/mdx/page/single/index.tsx
  src/components/search/index.tsx
  src/hooks/useClientMetrics.tsx
  tsconfig.json
Labels: 📌 area: src

BugFix and removed turbo.
  package.json
  src/components/search/index.tsx
Labels: 📌 area: src

Update packages. Update Framer motion Class props.
  package-lock.json
  package.json
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/app/research/header1/page.tsx
  src/app/research/header2/page.tsx
  src/components/callout/index.tsx
  src/components/footer/index.tsx
  src/components/footer/types.ts
  src/components/header/index.tsx
  src/components/header/types.ts
  src/components/hero/index.tsx
  src/components/mdx/card/summary.tsx
  src/components/mdx/page/feed/index.tsx
  src/components/mdx/page/single/index.tsx
  src/hooks/useClientMetrics.tsx
  tsconfig.json
Labels: 📌 area: src

Finished updating framer element props. Verified build
  src/components/search/index.tsx
Labels: 📌 area: src

Add mdx packages.
  context.config.tsx
  package-lock.json
  package.json
  src/components/footer/config.tsx
  src/components/header/config.tsx
  src/components/mdx/page/single/index.tsx
  src/components/search/index.tsx
Labels: 📌 area: src

Everything upgraded except for Blog client page.
  next.config.mjs
  package-lock.json
  src/app/blog/[slug]/page.tsx
  src/components/header/config.tsx
  src/components/mdx/page/single/index.tsx
  tsconfig.json
Labels: 📌 area: src

point to development. add prefix
  .github/dependabot.yml
Labels: 📌 area: .github
